doctype html
html
  head
    title A Brief History Of Time
    style
      include ../stylesheets/style.css

  include navigation.pug
  
  body
    h1 Book: A Brief History Of Time
    form
      p
        label(for='title') Title
          input(id='title' type='text')
